<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Ponykart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Ponykart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
	<userSettings>
		<Ponykart.Properties.Settings>
   <setting name="CameraTightness" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="NumberOfPlayers" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="Gravity" serializeAs="String">
    <value>-35</value>
   </setting>
   <setting name="CameraNodeYOffset" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="CameraNodeZOffset" serializeAs="String">
    <value>-20</value>
   </setting>
   <setting name="CameraTargetYOffset" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="EnableGlowyRegions" serializeAs="String">
    <value>False</value>
   </setting>
  </Ponykart.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<Ponykart.Properties.Settings>
   <setting name="WorldFileLocation" serializeAs="String">
    <value>media/worlds/</value>
   </setting>
   <setting name="MainMenuName" serializeAs="String">
    <value>Level0</value>
   </setting>
   <setting name="BulletFileLocation" serializeAs="String">
    <value>media/physics/</value>
   </setting>
  </Ponykart.Properties.Settings>
	</applicationSettings>
</configuration>
