<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Ponykart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Ponykart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
	<userSettings>
		<Ponykart.Properties.Settings>
   <setting name="WindowWidth" serializeAs="String">
    <value>1280</value>
   </setting>
   <setting name="WindowHeight" serializeAs="String">
    <value>800</value>
   </setting>
   <setting name="CameraNodeYOffset" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="CameraNodeZOffset" serializeAs="String">
    <value>-20</value>
   </setting>
   <setting name="CameraTargetYOffset" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="CameraTightness" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="NumberOfPlayers" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="InputCaptureRate" serializeAs="String">
    <value>0.05</value>
   </setting>
   <setting name="PhysicsMaxSubsteps" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="PhysicsFixedTimestep" serializeAs="String">
    <value>0.0166666657</value>
   </setting>
   <setting name="Gravity" serializeAs="String">
    <value>-35</value>
   </setting>
   <setting name="EnableGlowyRegions" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableRibbons" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableSounds" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableMusic" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SkidderDuration" serializeAs="String">
    <value>0.7</value>
   </setting>
   <setting name="KartHandler_UseNlerpers" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="KartHandler_UseSkidders" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="KartHandler_UseSelfRighters" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SelfRighterRaycastTime" serializeAs="String">
    <value>0.05</value>
   </setting>
   <setting name="SelfRighterShortRayLength" serializeAs="String">
    <value>1.2</value>
   </setting>
   <setting name="SelfRighterLongRayLength" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="AdjustKartGravityEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AdjustKartGravityMultiplier" serializeAs="String">
    <value>-20</value>
   </setting>
   <setting name="MiyagiXMLExtension" serializeAs="String">
    <value>.mgx</value>
   </setting>
   <setting name="StaticRegionSize" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="InstancedRegionSize" serializeAs="String">
    <value>75</value>
   </setting>
   <setting name="InstancedEntitiesPerBatch" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="EnableFullscreen" serializeAs="String">
    <value>False</value>
   </setting>
  </Ponykart.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<Ponykart.Properties.Settings>
   <setting name="MiyagiResourcesFileLocation" serializeAs="String">
    <value>media/gui/</value>
   </setting>
   <setting name="WorldFileLocation" serializeAs="String">
    <value>media/worlds/</value>
   </setting>
   <setting name="MainMenuName" serializeAs="String">
    <value>Level0</value>
   </setting>
   <setting name="LuaFileLocation" serializeAs="String">
    <value>media/scripts/</value>
   </setting>
   <setting name="WheelFileLocation" serializeAs="String">
    <value>media/wheels/</value>
   </setting>
   <setting name="LevelScriptLocation" serializeAs="String">
    <value>media/scripts/levels/</value>
   </setting>
   <setting name="PhysicsMaterialFileLocation" serializeAs="String">
    <value>media/physicsmaterials/</value>
   </setting>
   <setting name="PhysicsMaterialFileExtension" serializeAs="String">
    <value>.physmat</value>
   </setting>
   <setting name="WheelFileExtension" serializeAs="String">
    <value>.wheel</value>
   </setting>
   <setting name="LuaFileExtension" serializeAs="String">
    <value>.lua</value>
   </setting>
   <setting name="BulletFileLocation" serializeAs="String">
    <value>media/physics/</value>
   </setting>
   <setting name="BulletFileExtension" serializeAs="String">
    <value>.bullet</value>
   </setting>
   <setting name="SoundFileLocation" serializeAs="String">
    <value>media/sound/</value>
   </setting>
  </Ponykart.Properties.Settings>
	</applicationSettings>
</configuration>
