<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="LymphThing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="PonykartParsers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<LymphThing.Properties.Settings>
			<setting name="MuffinFileLocation" serializeAs="String">
				<value>media/worlds/</value>
			</setting>
			<setting name="MuffinFileExtension" serializeAs="String">
				<value>.muffin</value>
			</setting>
			<setting name="ThingFileExtension" serializeAs="String">
				<value>.thing</value>
			</setting>
			<setting name="ThingFileLocation" serializeAs="String">
				<value>media/things/</value>
			</setting>
		</LymphThing.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<PonykartParsers.Properties.Settings>
   <setting name="MuffinFileLocation" serializeAs="String">
    <value>media/worlds/</value>
   </setting>
   <setting name="MuffinFileExtension" serializeAs="String">
    <value>.muffin</value>
   </setting>
   <setting name="ThingFileExtension" serializeAs="String">
    <value>.thing</value>
   </setting>
  </PonykartParsers.Properties.Settings>
	</applicationSettings>
</configuration>